$regular: 400;
$medium: 600;
$bold: 700;

$global-background-color: #FFFFFF;
$menu-background-color: #F5F5F9;
$popup-block-background-color: rgba(88, 87, 87, 0.6);
$main-text-color: #48494D;
$contacts-text-color: #1A212F;
$other-text-color: #000000;
$button-slider-color: #D7D9DF;
$button-color-white: #FFFFFF;
$button-color-red: #D12136;
$button-color-red-hover: #BD0C21;
$input-border-color: rgba(72, 73, 77, 0.2);
$default-color-star: rgba(189, 190, 194, 0.7);
$line-price-color: #A3A4A6;
$error-color: #FF0000;

$start-adaptive-width: 1040px;
$end-adaptive-width: 769px;
