.features {
  max-width: 565px;
  margin-top: 11px;
  margin-bottom: 140px;
}

.features__item-wrapper {
  @include reset-text;
  @include base-flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: inherit;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 8px;

  &:after {
    content: "";
    position: absolute;
    width: 565px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $button-slider-color;
  }
}

.features__name,
.features__value {
  font-size: 16px;
  max-width: 280px;
  overflow-wrap: anywhere;
}

.features__value {
  text-align: end;
  color: $other-text-color;
}
