.nav__list {
  @include reset-list;
  @include base-flex;
  justify-content: flex-start;
  align-content: center;

  &--header {
    justify-content: flex-end;
    max-width: 1034px;
    margin-top: 16px;
  }

  &--footer {
    margin-top: 30px;
    margin-left: 37px;
    margin-right: -58px;
  }
}

.nav__item {
  max-width: 218px;
  margin-bottom: 22px;
  text-align: center;

  &:not(:last-child) {
    margin-right: 66px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.nav__list--header .nav__item {
  margin-right: 68px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  @include base-font($medium);
  font-size: 16px;
  overflow-wrap: anywhere;
  color: $main-text-color;
}

@media (min-width: $end-adaptive-width) and (max-width: $start-adaptive-width) {
  .nav__item {
    &:not(:last-child) {
      margin-right: 6%;
    }
  }

  .nav__list--header .nav__item {
    margin-right: 7%;
  }
}
